@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<section>
    <p>
        From 26th September 2020 to TBD October 2020 Rahul (n00b who built this site)
        interned under Shelbin Kidangan, a pr0 program manager at CormSquare
    </p>
    <br />
    <p>
        The site's basically an okay-ish proof-of-concept that I can build stuff in an MVC architecture
        in the .NET ecosystem using C#.
    </p>
</section>