@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Nothing to put here lol. <br>
    It just looked fancy in the default MVC starter so I didn't remove it :p<br>
    But for practical purposes it serves no function to be honest.
</p>
